# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Common ignores
node_modules/
.next/
.env*.local
.DS_Store
.idea
.vscode/
.env

/generated/prisma

# Helm Secrets
daadnegar-chart/secrets.decrypted.yaml
daadnegar-chart/secrets.yaml.dec
daadnegar-chart/secrets-stage.yaml.dec
daadnegar-chart/.sops.yaml
daadnegar-chart/.sops-stage.yaml
